{% extends "base.html" %}

{% block title %} - Collaborative Music{% endblock %}

{% block content %}
      <br/>
      <br/>
      <div class="row">
        <div class="span6">
          <h1>What is UDJ?</h1>
          <p>UDJ is a collaborative music player. It allows you and your friends to collaboratively
          select which music is playing, in real time. Whether you're at a party, in a bar or restaurant,
          or just hanging out, UDJ is the perfect way for everyone to participate in the music selection.</p>
          <h1>How Does it Work?</h1>
          <p>Let's say you're hosting an event this weekend and you want all of your guests to
          be able to help you pick the music that is going to be playing. Well, simply fire up the
          UDJ music player. Guests will then be able to view your playlist from the their smartphones.
          They can also search your music library from their phones and add songs to the playlist.
          If they see a song added by someone else that they like, they can
          choose to vote it up. The song will then move up in the queue and be played sooner.
          Alternatively, if they see a song they don't like they can vote it down and it will
          move down in the queue.
          </p>
          <p>UDJ works anywhere you have a gathering of people and music is playing.
          Bars, restaurants, parties, weddings, out-door events, or any other gathering of
          people who are listenting to music. Just download the UDJ player (currently in private
          Beta) and get the
          <a target="_blank" href="https://market.android.com/details?id=org.klnusbaum.udj"> app for your smartphone.</a>
          </p>
        </div>
        <div class="offset1 span3">
          <img src="{{STATIC_URL}}img/udjplaylist.png"/>
        </div>
      </div>
{% endblock %}
