{% extends "base.html" %}

{% block title %} - Collaborative Music{% endblock %}

{% block content %}
      <br/>
      <br/>
      <div class="row">
        <div class="span4 offset4">
          <h1>What is UDJ?</h1>
          <p>UDJ is a collaborative music player. It allows you and your friend to collaboratively
          select which music is playing, in real time. Whether you're at a party or just hanging out,
          UDJ is the perfect way for everyone to participate in the music selection.</p>
        </div>
      </div>
{% endblock %}
