{% extends "base.html" %}

{% block title %} - Login {% endblock %}

{% block content %}
      <div class="row">
        <div class="span4 offset4">
          <br>
          <br>
          <h1>Login</h1>
          {% if form.errors %}
          <p class="error">Sorry, that's not a valid username or password</p>
          {% endif %}

          <form action="" method="post">
            <label for="username">User name:</label>
            <input type="text" name="username" value="" id="username">
            <label for="password">Password:</label>
            <input type="password" name="password" value="" id="password">

            <input type="submit" value="login" />
            <input type="hidden" name="next" value="{{ next|escape }}" />
          </form>
        </div>
      </div>
{% endblock %}

